@media screen and (max-width: 768px){
    main {
        margin: 1.875rem 1.5rem;
        display: block;
        height: auto;
        padding: 2rem 0 3rem;
    }

    .testimonial {
        display: inline-block;
        margin: 15px 0;

        &-title {
            font-size: 1.25rem;
            font-weight: 600;
            padding-top: 20px;
            padding-right: 1px;
        }

        &-review {
            font-size: .8125rem;
            padding-right: 15px;
        }
    }

    .quotation {
        right: 24px;
        background-size: 104px 100px;
    }

    .author-title {
        font-size: 0.7rem;
    }

    .grayish-blue-review {
        padding-right: 0px;
    }

    .blackish-blue-review {
        padding-right: 1px;
    }

    .kira .testimonial-review {
        padding-right: 6px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1150px){
    main {
        padding: 8.75rem 1.25rem;
    }
}